mixin template(id, title, direction)
  li.home__item(class=`home__item--${id}`)
    a.home__link(href=`/case/${id}`)
      span.home__link__wrapper=title
        img.home__link__media(alt=`${title} Project Preview` data-direction=direction data-src=`/projects/${id}.jpg` data-src-webp=`/projects/${id}.webp`)

section.home
  .home__background
    .home__background__top
    .home__background__bottom

  .home__wrapper
    ul.home__list
      +template('blood', 'BLOOD', 'left')
      +template('shores', 'ALONG THE SHORES', 'right')
      +template('onda', 'ÁGUA E MATA', 'right')
      +template('tracker', 'TRACKER', 'left')
      +template('underwater', 'ITALY UNDERWATER', 'left')
      +template('metro', 'METROCARTOGRAPHY', 'right')
      +template('paz', 'PACEÑ@S Y ALTEÑ@S', 'right')
      +template('uganda', 'WAKATI UJAO JE?', 'left')
      +template('vie', 'SANT ORSOLA 5', 'right')
      +template('diesel', 'DIESELGATE', 'right')
      +template('sound', 'SOUND OF THINGS', 'left')
